<div class="jumbotron jumbotron-home">
    <div class="container">
        <div class="col-lg-12 info-home-1">
          <h1 class="display-4 text-white font-weight-bold text-center">¿No tienes claro dónde ir?</h1>
          <h1 class="display-4 text-white font-weight-bold text-center">¡Te hacemos de brújula!</h1>
          <div class="text-center">
              <button type="button" class="btn btn-light text-btn-search btn-rounded f-z-20">Búsqueda flexible</button>
          </div>
        </div>
    </div>
</div>