
<nav class="navbar navbar-expand-lg fixed-top bar-top nav-bar-top-res" id="top-nav-bar-scroll-res">
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2 text-white">
        <div class="container container-search btn-rounded search-bar text-center bg-light">
                <button class="btn btn-rounded b-w-0 button-search">
                    <i class="fa fa-search text-danger icon-button"></i>
                    <div class="text-dark text-left font-weight-bold">¿A dónde vas?</div>
            </button>
        </div>
    </ul>
</nav>
