<div class="jumbotron jumbotron-experiences m-b-100">
    <h1 class="display-5">Descubre las experiencias en Airbnb</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card cards-experiences">
                <img class="img-experiences" src="https://pangea-public-content.s3-eu-west-1.amazonaws.com/files/BlockHeader/170/viajes-aventrura-y-naturaleza-mb.jpg">
                <div class="cards-body-experiences">
                    <h1 class="card-title font-weight-bold text-cards-experiences text-white">Actividades para tu viaje</h1>
                    <button type="button" class="btn btn-light btn-lg m-l-50">Experiencias</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card cards-experiences">
                <img class="img-experiences" src="https://hips.hearstapps.com/es.h-cdn.co/mcres/images/mi-casa/casas/10-mejores-fachadas-casas-de-campo/en-piedra/1137298-1-esl-ES/en-piedra.jpg?crop=0.889xw:1.00xh;0.0459xw,0&resize=480:*">
                <div class="cards-body-experiences">
                    <h1 class="card-title font-weight-bold text-cards-experiences text-white">Actividades desde casa</h1>
                    <button type="button" class="btn btn-light btn-lg m-l-50">Experiencias online</button>
                </div>
            </div>
        </div>
    </div>
</div>