<div class="jumbotron jumbotron-card">
    <div class="row m-t-55">
        <div class="col-sm-5">
            <div class="card cards">
                <p class="text-center f-z-30">
                    <strong>Presentamos</strong>
                </p> 
                <h1 class="display-3 font-weight-bold text-center">las tarjetas regalo Airbnb</h1>    
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-dark">Comprar ahora</button>        
            </div> 
        </div>
        <div class="col-sm-7">
            <div class="card cards">
                <img src="../../../assets/cards.png">  
            </div>
        </div>
    </div>
</div>