
<nav class="navbar navbar-expand-lg fixed-top bar-top nav-bar-top scrolled-bar" id="top-nav-bar-scroll">
    <div class="navbar-collapse collapse nav-content order-2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../../../assets/logo-text-red.png" alt="">
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2 text-white">
        <div class="container container-search btn-rounded search-bar text-center">
            <button class="btn btn-rounded b-w-0 button-search">
                <div class="text-dark text-left font-weight-bold">Empieza tu búsqueda</div>
            </button>
            <button class="btn btn-danger search">
                <i class="fa fa-search icon-button"></i>
            </button>
        </div>
    </ul>
    <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
        <ul class="ml-auto nav navbar-nav">
            <li>
                <button class="btn btn-outline-dark text-dark btn-rounded b-w-0">Hazte anfitrión</button>
            </li>
            <li>
                <button class="btn btn-outline-dark text-dark btn-rounded b-w-0">
                    <i class="mdi mdi mdi-web"></i>
                </button>
            </li>
            <li>
                <button class="btn btn-light text-dark btn-rounded b-w-0 color-border-btn">
                    <i class="mdi mdi-menu m-r-10 f-z-20"></i>
                    <i class="fa fa-user-circle-o f-z-20"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
