
<nav class="navbar navbar-expand-lg fixed-top bar-top nav-bar-top" id="top-nav-bar">
    <div class="navbar-collapse collapse nav-content order-2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../../../assets/logo-text.jpg" alt="">
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2 text-white">
        <li class="nav-item active"><a class="nav-link text-white" href="#">Alojamientos</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Expericiencias</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Expericiencias online</a></li>
    </ul>
    <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
        <ul class="ml-auto nav navbar-nav">
            <li>
                <button class="btn btn-outline-dark text-light btn-rounded b-w-0">Hazte anfitrión</button>
            </li>
            <li>
                <button class="btn btn-outline-dark text-light btn-rounded b-w-0">
                    <i class="mdi mdi mdi-web"></i>
                </button>
            </li>
            <li>
                <button class="btn btn-light text-dark btn-rounded b-w-0">
                    <i class="mdi mdi-menu m-r-10 f-z-20"></i>
                    <i class="fa fa-user-circle-o f-z-20"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>
